<h2>Cadastre-se para conferir seu Score</h2>

<form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">

  <label for="usuarios_Nome">Nome</label><br>
  <input type="text" name="Nome" ngModel placeholder="Nome"> <br><br>

  <label for="usuarios_Nome">Idade</label><br>
  <input type="number" name="Idade" ngModel placeholder="Idade"> <br><br>

  <label for="usuarios_Nome">CPF</label><br>
  <input type="number" name="CPF" ngModel placeholder="CPF"> <br><br>

  <label for="usuarios_Nome">Dependentes</label><br>
  <input type="number" name="Dependentes" ngModel placeholder="Dependentes"> <br><br>

  <label for="usuarios_Nome">Renda</label><br>
  <input type="number" name="Renda" ngModel placeholder="Renda"> <br><br>
  <button type="submit">Submit Data</button>

</form>



<h2>Banco de Dados</h2>
<h4 *ngFor="let item of apiData" >

  Nome: 
  {{item.Nome}}
  <br>

  Idade: 
  {{item.Idade}}
  <br>

  Número de Dependentes: 
  {{item.Dependentes}}
  <br>

  Renda: 
  {{item.Renda}}
  <br>

  Resultado: 

  
  
  {{item.Resultado}} 
  <br>

  
  
</h4>

<h4 *ngFor="let itemscore of apiScoreData">

  
  Score: 
  {{itemscore.Score}}
  <br>

  
  
</h4>

